<?xml version="1.0"?>
<ruleset name="WordPress Theme Coding Standards">
	<!-- See https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml -->
	<!-- See https://github.com/WordPress/WordPress-Coding-Standards -->
	<!-- See https://github.com/WPTRT/WPThemeReview -->
	<!-- See https://github.com/PHPCompatibility/PHPCompatibilityWP -->

	<!-- Set a description for this ruleset. -->
	<description>A custom set of code standard rules to check for WordPress themes.</description>

	<!--
	#############################################################################
	COMMAND LINE ARGUMENTS
	https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml
	#############################################################################
	-->

	<arg value="ps"/>

	<!-- Strip the filepaths down to the relevant bit. -->
	<arg name="basepath" value="./"/>

	<!-- Check up to 4 files simultaneously. -->
	<arg name="parallel" value="4"/>

	<!-- Check PHP files only. JavaScript and CSS files are checked separately using the @wordpress/scripts package. -->
	<arg name="extensions" value="php"/>

	<!-- Check all files in this directory and the directories below it. -->
	<file>.</file>

	<!-- Exclude patterns. -->
	<exclude-pattern>/vendor/*</exclude-pattern>
	<exclude-pattern>/node_modules/*</exclude-pattern>
	<exclude-pattern>/build/*</exclude-pattern>

	<!--
	#############################################################################
	USE THE WordPress AND THE Theme Review RULESET
	#############################################################################
	-->

	<rule ref="WordPress">
		<exclude name="WordPress.NamingConventions.PrefixAllGlobals.ShortPrefixPassed"/>

		<!-- We are targeting 7.2+ -->
		<exclude name="PHPCompatibility.Keywords.NewKeywords.t_dirFound"/>
		<exclude name="PHPCompatibility.FunctionDeclarations.NewClosure.Found"/>
		<exclude name="PHPCompatibility.Syntax.NewFunctionArrayDereferencing.Found"/>
		<exclude name="PHPCompatibility.FunctionUse.NewFunctions.lcfirstFound"/>
		<exclude name="PHPCompatibility.FunctionUse.NewFunctions.boolvalFound"/>
		<exclude name="PHPCompatibility.FunctionUse.NewFunctions.array_columnFound"/>
		<exclude name="PHPCompatibility.FunctionDeclarations.NewParamTypeDeclarations.callableFound"/>
		<exclude name="PHPCompatibility.Keywords.NewKeywords.t_callableFound"/>
		<exclude name="PHPCompatibility.LanguageConstructs.NewLanguageConstructs.t_ellipsisFound"/>
		<exclude name="PHPCompatibility.LanguageConstructs.NewLanguageConstructs.t_ns_separatorFound"/>
	</rule>

	<rule ref="WPThemeReview">
		<exclude name="WPThemeReview.CoreFunctionality.FileInclude.FileIncludeFound" />

		<!-- Blocks are loaded via the theme to reduce issues where themes break with disabled plugins. -->
		<exclude name="WPThemeReview.PluginTerritory.ForbiddenFunctions.editor_blocks_register_block_type_from_metadata" />
		<exclude name="WPThemeReview.PluginTerritory.ForbiddenFunctions.plugin_territory_register_post_type" />

		<!-- We are using shortcodes. -->
		<exclude name="WPThemeReview.PluginTerritory.ForbiddenFunctions.plugin_territory_add_shortcode" />

		<!-- Template page-contact.php is provided as an example. -->
		<exclude name="WPThemeReview.Templates.ReservedFileNamePrefix.ReservedTemplatePrefixFound" />
	</rule>

	<!--
	#############################################################################
	SNIFF SPECIFIC CONFIGURATION
	#############################################################################
	-->

	<!-- Verify that the text_domain is set to the desired text-domain.
		 Multiple valid text domains can be provided as a comma-delimited list. -->
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="the-cedars"/>
		</properties>
	</rule>

	<!-- Allow for theme specific exceptions to the file name rules based
		 on the theme hierarchy. -->
	<rule ref="WordPress.Files.FileName">
		<properties>
			<property name="is_theme" value="true"/>
		</properties>
	</rule>

	<!-- Set the minimum supported WP version. -->
	<config name="minimum_supported_wp_version" value="5.7"/>

	<rule ref="WordPress.Arrays.MultipleStatementAlignment">
		<properties>
			<!-- No need to adjust alignment of large arrays when the item with the largest key is removed. -->
			<property name="exact" value="false"/>
			<!-- Don't align multi-line items if ALL items in the array are multi-line. -->
			<property name="alignMultilineItems" value="!=100"/>
			<!-- Array assignment operator should always be on the same line as the array key. -->
			<property name="ignoreNewlines" value="false"/>
		</properties>
	</rule>

	<!-- Verify that everything in the global namespace is prefixed with a theme specific prefix.
		 Multiple valid prefixes can be provided as a comma-delimited list. -->
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array" value="cedars" />
		</properties>
	</rule>

	<!--
	#############################################################################
	USE THE PHPCompatibility RULESET
	#############################################################################
	-->

	<config name="testVersion" value="7.2-"/>
  <rule ref="PHPCompatibilityWP"/>

</ruleset>