
<Files ~ "^.*\.([Ee][Nn][Vv])">
	order allow,deny
	deny from all
	satisfy all
</Files>

Options -MultiViews
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
